.title {
  font-size: 2rem;
  color: #0D0D0D;
  word-break: break-all;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.description {
  font-size: 1rem;
  color: #666666;
}

@media screen and (width < 768px) {
  .title {
    text-align: center;
  }
}
    
.btn-grad {
  background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  font-weight: bold;
}

.btn-grad:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
}